body {
    background-color: rgb(124, 124, 247);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

#flista {
    width: 150px;
}

section{
    background-color: white;
    width: 500px;
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.39);
    
}

footer {
    text-align: center;
    color: white;

}