@charset "UTF-8";

body{
    text-align: center;
}


.btn{
    margin-top: 10px;
    cursor: pointer;
    transition: background 0.2s, transform 0.1s;
    border: none;
    border-radius: 20px;
    background-color: rgba(5, 170, 5, 0.822);
    padding: 5px;
}

.ativo {
    background-color: blue;
    transform: scale(0.97);
}